<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71408833152-lopcpk4o41cvimt1493t6rc9ifje21og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71408833152-lopcpk4o41cvimt1493t6rc9ifje21og</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>71408833152-t4vv2eghqontvpvejd8orsp7vjr556b8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiFzT3-H57EAi6CBYuXVdI8f2-gI_sBDo</string>
	<key>GCM_SENDER_ID</key>
	<string>71408833152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.starboat.AmwayPOS</string>
	<key>PROJECT_ID</key>
	<string>amwaypos-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>amwaypos-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71408833152:ios:281ed5388e0db691818c65</string>
	<key>DATABASE_URL</key>
	<string>https://amwaypos-mobile.firebaseio.com</string>
</dict>
</plist>